<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100&display=swap');
            body {
                font-family: 'IBM Plex Sans KR', sans-serif;
            }
            
            a {
                font-weight: 800;
            }
        </style>
    </head>
    <body>
        <a href="https://beatstreet.live/">beatstreet</a>
        <br>
        <a href="https://github.com/liamkronman/">github</a>
        <br>
        <a href="https://www.linkedin.com/in/liam-kronman-762584197/">linkedin</a>
    </body>
</html>